@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 1.125vmax;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  gap: 1rem;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body {
  padding: 0;
  margin: 0;
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.react-paginate ul {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;
}

.react-paginate ul li {
  padding: 0.25rem 0.5rem;
}

.react-paginate ul li.selected {
  border: 1px solid white;
  border-radius: 0.25rem;
}

.react-paginate ul .previous.disabled,
.react-paginate ul .next.disabled {
  color: gray;
}

/* Tabs styles */

.react-tabs__tab--selected {
  background: black !important;
  border-color: white !important;
  border-bottom-color: black !important;
  color: white !important;
}

.react-tabs__tab {
  /* border-bottom: unset !important; */
}

.react-tabs__tab:focus:after {
  height: 0px !important;
}

.tick-animate {
  animation: check 400ms ease 1 forwards;
}

@keyframes check {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-right {
  animation: fade-right 1000ms ease 1 forwards;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.skip,
.skip path {
  /* fill: currentColor; */
  stroke: currentColor;
}
